@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
    <a class="btn btn-primary" href="@Url.Action("ExportToPdf", "Export")" target="_blank">
        Download PDF
    </a>

    <a class="btn btn-success" href="@Url.Action("ExportToExcel", "Export")" target="_blank">
        Download Excel
    </a>
</div>
